	body {
	    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}
	
	
	.logo {
		max-width: 280px;
	}

	.logo-link {
		margin-left: auto;
	    margin-right: auto;
	}
	nav {
		padding-top: 20px;
	}
	
/*	.center {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 50%;
	}
	
	.responsive {
	    width: 100%;
	    height: auto;
		padding-top: 20px;
	} */
	
	.title {
	    text-align: center;
	    font-weight: 100;
	    font-size: 40px;
	    text-transform: uppercase;
	    letter-spacing: 3px;
	    margin-bottom: -15px;
		margin-top: 65px;
	    color: #2d3c49;
	}
	
	.subtitle {
	    text-align: center;
	    text-transform: uppercase;
	    font-size: 20px;
	    letter-spacing: 4px;
	    color: #7d97ad;
	}
	
	.topwrapper {
	    padding-left: calc(5% + 100px);
	    padding-right: calc(5% + 100px);
		overflow: hidden;
	}

	.logobox {
		float: left;
	}

	.titlebox{
		float: right;
	}

	
	
	hr {
	    border: 2px solid #7d97ad !important;
	    border-radius: 5px !important;
	}

	.separator {
		width: 80%;
		margin: auto;
	}

	.service-title {
		text-align: center;
	}

	main {
		display: grid;
		place-items: center;
		width: 100%;
		height: 600px;
	}

	.btn.btn-primary {
		margin:15px 0px;
	}
	.start-here {
		padding-top: 50px;
	}

	.form-group {
		padding: 10px 5px;
	}

	label {
		padding: 5px 5px;
		font-weight: 500;
		font-size: 1.5em;
	}

	.mainmenu {
		/*display: grid;
		place-items: center; */
		width: 250px;
		height: 250px;
		/* line-height: 150px; */
		border-radius: 50%;
		background: #65C8D0;
		margin: auto;
		position: relative;
		cursor: pointer;
		text-align: center;
		font-size: 3em;
		font-weight: bold;
		color: black;
		transition: 0.24s 0.2s;
	}

	.mainmenu:hover {
		color: white;
		cursor: pointer;
		transition: 0.1s;
	}

	.mainmenu .bg-items {
		list-style-type:none;
		padding:0;
		margin: 0;
		position:absolute;
		top: -75px;
		left: -75px;
		border: 150px solid transparent;
		cursor: default;
		border-radius: 50%;
		transform: scale(0);
		transition: transform 1.4s 0.07s;
		z-index: index -1;
	}
	.mainmenu:hover .bg-items {
		transition: transform 0.4s 0.08s, z-index 0s 0.5s;
		transform: scale(1);
		z-index: 1;
	}

	.mainmenu .bg-items li {
		position: absolute;
		top: -130px;
		left: -130px;
		transform-origin: 180px 180px;
		transition: all 0.5s 0.1s;
	} 

	.mainmenu .bg-items li {
		transition: all 0.7s 1s 2s;
	} 

	.mainmenu .bg-items li i {
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 50%;
		background: #65c8d0;
		position: absolute;
		font-size: 1em;
		color: black;
		transition: 0.4s;
	} 

	.mainmenu .bg-items li i:hover {
		color: white;
		transition: 0.1s;
	}

	.mainmenu:hover .bg-items li:nth-child(1) {
		transition-delay: 0.02s;
		transform: rotate(85deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(1) i {
		transition-delay: 0.04s;
		transform: rotate(635deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(2) {
		transition-delay: 0.04s;
		transform: rotate(125deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(2) i {
		transition-delay: 0.08s;
		transform: rotate(595deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(3) {
		transition-delay: 0.06s;
		transform: rotate(165deg);
	} 
	
	.mainmenu:hover .bg-items li:nth-child(3) i {
		transition-delay: 0.12s;
		transform: rotate(555deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(4) {
		transition-delay: 0.08s;
		transform: rotate(205deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(4) i {
		transition-delay: 0.16s;
		transform: rotate(515deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(5) {
		transition-delay: 0.1s;
		transform: rotate(245deg);
	} 

	.mainmenu:hover .bg-items li:nth-child(5) i {
		transition-delay: 0.2s;
		transform: rotate(475deg);
	} 
	.mainmenu:hover .bg-items li:nth-child(6) {
		transition-delay: 0.12s;
		transform: rotate(285deg);
	} 

	footer {
		width: 90%;
		height: 100px;
	}

	.footer-item {
		display: inline-block;
		padding: 0 20px;
		float: right;
		margin-top: 2em;
		font-size: 1.3em;
	}

	.footer-item a {
		text-decoration: none;
		color: #000;
	}


 @media screen and (min-width: 400px) and (max-width: 649px){
	.mainmenu {
		width: 180px;
		height: 180px;
		font-size: 2.2em;
	}
	.start-here {
		padding-top: 35px;
	}

	.mainmenu .bg-items li {
		top: -180px;
		left: -220px;
		transform-origin: 180px 180px;
	} 
	.mainmenu .bg-items li i {
		width: 60px;
		height: 60px;
		font-size: 0.8em;
		line-height: 60px;
	} 

	main {
		height: 500px;
	}


	}
	
	@media screen and (min-width: 650px) and (max-width: 849px) {
		.mainmenu {
			width: 200px;
			height: 200px;
			font-size: 2.5em;
		}
		.start-here {
			padding-top: 35px;
		}
	
		.mainmenu .bg-items li {
			top: -180px;
			left: -180px;
			transform-origin: 180px 180px;
		} 
		.mainmenu .bg-items li i {
			width: 80px;
			height: 80px;
			font-size: 0.9em;
			line-height: 80px;
		} 

	}
	
	@media screen and (min-width: 350px) and (max-width: 1100px) {
		.topwrapper {
			display: grid;
			place-items: center;
		}
	
		.logobox {

			width: 100%;
			float: none;
		}
	
		.titlebox{
			width: 100%;
			float: none;
		}

		.logo {
			display: block;
			margin: auto;
		}
	}